<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #1E1E1E;
        color: #FFFFFF;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        color: white;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .card {
        position: relative;
        width: 300px;
        height: 400px;
        padding: 20px;
        margin: 20px;
        background-color: #1a1a1a;
        color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    .card h5 {
        margin-bottom: 10px;
    }

    .card p {
        margin-bottom: 15px;
        /* Add these lines for content truncation */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Number of lines to show */
        -webkit-box-orient: vertical;
    }

    .card-link {
        text-decoration: none;
        color: inherit;
        position: absolute;
        bottom: 20px;
        left: 20px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .card:hover .card-link {
        opacity: 1;
    }

    .read-more {
        display: none;
    }

    .card:hover .read-more {
        display: block;
    }

    .card-wrapper {
        display: block;
        text-decoration: none;
        color: inherit;
    }

</style>

</head>
<body>
    <h1>Blog</h1>
    {{#if user}}
        <a href="blog/create">Add New Post</a>
    {{/if}}
    <div class="card-container">
        {{#each blogs}}
        <a href="/blog/detail/{{this._id}}" class="card-wrapper">
            <div class="card">
                <h5>{{this.title}}</h5>
                <p>{{this.content}}</p>
                <p>Tags: {{#each this.tags}}{{this}} {{/each}}</p>
                {{#if ../user}}
                    <a href="/blog/edit/{{this._id}}" class="btn btn-primary">Edit</a>
                    <a href="/blog/delete/{{this._id}}" class="btn btn-primary" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
                {{/if}}
                <span class="read-more"><h2>Read More</h2></span>
            </div>
        </a>
        {{/each}}
    </div>
</body>
</html>
